

header {
    background: url("../img/bg-slider-06.jpg") center/cover;
    height: 100vh;
    width: 100vw;
    color: $whity;
    @media screen and (max-width:430){
        height: 100vh;
    }
}

nav {
    width:80%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 0.9rem;
    font-family: $font2;
    @media screen and (max-width:1205px){
        font-size: 0.7rem;
    }
    @media screen and (max-width:430px){
        .left-part {
            display: none;
        }
    }
    @media screen and (max-width:430px){
        .right-part {
            font-size: 1.4rem;
        }
    }
}
.logo {
    font-family: $font1;
    color: $goldy;
    font-size: 2.7rem;
    padding-right: 50px;

    @media screen and (max-width:1205px){
        font-size: 2rem;
    }
    @media screen and (max-width:430px){
        font-size: 3rem;
    }

}
.left-part ul{
    display: flex;

}
.left-part ul li {
    width: 100%;
    margin-right: 70px;
}

.right-part ul{
    display: flex;
}

.right-part ul li{
    margin-right: 25px;
}

.title {
text-align: center;
margin-top: 50px;
}

.title h1 {
    font-family: $font2;
    font-size: 5rem;
    @media screen and (max-width:430px){
        font-size: 3rem;
        margin: 30px auto;
    }
}
.title h2{
    font-family: $font1;
    font-size: 3rem;
    color: $goldy;
    @media screen and (max-width:430px){
        font-size: 2.7rem;
    }
}

.title p {
    font-family: $font3;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    @media screen and (max-width:430px){
        font-size: 1.5rem;
        font-weight: bold;
    }
}