
body {
    height: 100vh;
    background: url(./img/1033789-free-download-wood-wallpaper-1080p-1920x1080.jpg) center/cover fixed;

    color: rgb(219, 216, 217);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
