body {
    background: url("../../assets/img/fabrizio-conti-kXVogATbFgA-unsplash.jpg")center/cover;
    height: 100vh;
    width: 100%;
    // background: #274c77;
    list-style: none;
    color: rgb(229, 229, 229);
    margin: 0 auto;
    } 