// ************* FONTS ********************
// Allura Regular Poppins Medium Roboto Light 
@font-face {
    font-family: "Allura Regular";
    src: url(./assets/fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins Medium";
    src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto Light";
    src: url(./assets/fonts/Roboto-Light.ttf);
}

// ************* GENERAL SETTINGS***********
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    ul {
        list-style: none;
    }
}

@mixin gold {
    font-family: Allura Regular, sans-serif;
    color: rgb(145, 94, 27);
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.8px;
}

@mixin whity {
    font-family: Poppins Medium, sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

// ************************ BODY ***********************
body {
  background-color: #384e77;
}

// *********** MARK CONSTRUCTION******

header {
  border: 1px solid yellow;
  padding: 9px;
  div {
    border: 1px solid red;
    padding: 2px;
    p,
    h2 {
      border: 1px solid greenyellow;
    }
    padding: 2px;
    h1 {
      border: 1px solid orange;
      padding: 2px;
    }
  }
}
